RAILS_ENV=production

DB_HOST=db
DB_NAME=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

MAILER_ASSET_HOST=https://skyderby.ru
MAILER_URL_HOST=skyderby.ru
SMTP_ADDRESS=smtp.example.com
SMTP_PORT=25
SMTP_DOMAIN=skyderby.ru
SMTP_USER_NAME=example@skyderby.ru
SMTP_PASSWORD=secret

WEB_CONCURRENCY=0
RAILS_MAX_THREADS=5
PORT=8000

REDIS_HOST='redis'
REDIS_PORT=6379
REDIS_DB=12

MAPS_API_KEY=google_maps_api_key

HONEYBADGER_API_KEY=honey_badger_api_key

TRACK_SCANNER_URL=http://track-scanner/
